[Unit]
Description=private_bot
After=network.target

[Service]
Type=simple
User=user
Group=user
Environment=PYTHONPATH=/usr/local/bin/myfolder_with_bot_files
WorkingDirectory=/usr/local/bin/myfolder_with_bot_files
ExecStart=/usr/bin/python3 /usr/local/bin/myfolder_with_bot_files/private_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=network.target

